[package]
name = "lab-schemas"
version.workspace = true
edition.workspace = true
license.workspace = true

[dependencies]
anyhow.workspace = true
serde_json.workspace = true
jsonschema.workspace = true
include_dir.workspace = true
